/**
 * SPDX-FileCopyrightText: 2021 Benjamin Kahlau
 * SPDX-License-Identifier: GPL-3.0-or-later
 *
 * This file is part of Blanket Web.
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('assets/lake-4873148_1920.jpg');
    background-attachment: fixed;
    background-size: cover;
}
