<!--
SPDX-FileCopyrightText: 2021 Benjamin Kahlau
SPDX-License-Identifier: GPL-3.0-or-later

This file is part of Blanket Web.
-->
<!DOCTYPE html>
<html lang="en" class="h-full">
    <head>
        <meta charset="UTF-8" />
        <title>Blanket</title>
        <meta name="description" content="Blanket" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="theme-color" content="#1f2937" />
        <meta property="og:title" content="Blanket" />
        <meta property="og:description" content="Blanket." />
        <meta property="og:type" content="website" />
        <style>
            body {
                color: #fff;
                background-color: #262626;
            }
        [v-cloak] { display: none; }
        </style>
    </head>
    <body class="p-4 text-white bg-neutral-800">
        <main id="app" class="lg:w-1/2 mx-auto" v-cloak>
            <div v-for="group in data" class="p-4 mb-2 rounded bg-neutral-800">
                <h2 class="text-3xl font-bold mt-2 mb-4">{{ group.title }}</h2>

                <div class="bg-neutral-900 p-4 rounded">
                    <sound v-bind:title="sound.title" v-bind:file="sound.file" v-bind:icon="sound.icon" v-bind:name="sound.name" v-bind:license="sound.license"
                           v-bind:author="sound.author" v-bind:url="sound.url"
                           v-for="sound in group.sounds"></sound>
                </div>
            </div>
        </main>

        <footer class="lg:w-1/2 mx-auto p-4 rounded bg-neutral-800">
            <p>
                <a class="float-right" rel="license" href="https://www.gnu.org/licenses/gpl-3.0.html"
                    ><img alt="GNU General Public License" class="inline-block" src="https://www.gnu.org/graphics/gplv3-88x31.png"
                /></a>
            </p>

            <div>
                <p class="mb-4">
                    <a class="underline"
                       href="https://codeberg.org/terenc3/blanket-web"><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Blanket Web</span></a> by
                    <a class="underline" xmlns:cc="http://creativecommons.org/ns#" href="https://roanapur.de" property="cc:attributionName" rel="cc:attributionURL"
                        >Benjamin Kahlau</a
                    >
                    is licensed under a
                    <a rel="license" class="underline" href="https://www.gnu.org/licenses/gpl-3.0.html">GNU General Public License v3.0 or later License</a>.
                </p>
                <p>Based on <a class="underline" href="https://github.com/rafaelmardojai/blanket">Blanket</a> by Rafael Mardojai CM and contributors.</p>
                <p>Sounds are partly edited by <a class="underline" href="https://github.com/Porrumentzio">Porrumentzio</a> according to <a
                        class="underline" href="https://github.com/rafaelmardojai/blanket/blob/master/SOUNDS_LICENSING.md">
                    SOUNDS_LICENSING.md</a> for Blanket</p>
                <p>Icons by <a class="underline" href="https://jimmac.eu/">Jakub
                    Steiner</a> for Blanket</p>
            </div>
        </footer>
    </body>
</html>
